SECRET_KEY=change-me
DEBUG=True
DB_ENGINE=django.db.backends.mysql
DB_NAME=AdmissionBazaar
DB_USER=myuser
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=3306
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_HOST_USER=Admissionsbazaar@gmail.com
EMAIL_HOST_PASSWORD=change-me-gmail-app-password
SUPPORT_EMAIL=Admissionsbazaar@gmail.com
SUPPORT_CC_EMAIL=Admissionsbazaar@gmail.com
SUPPORT_PHONE=9479469454
TWILIO_ACCOUNT_SID=change-me
TWILIO_AUTH_TOKEN=change-me
TWILIO_PHONE_NUMBER=+10000000000
TEMPLATES_BASE_URL=http://127.0.0.1:8000
X_FRAME_OPTIONS=SAMEORIGIN
