<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Bazaar | Thank You for Contacting Us</title>
</head>
<body>
    <h1>Hello {{ name }},</h1>
    <p>Thank you for reaching out to us. We have received your message and are happy to assist you. One of our team members will review your inquiry and get back to you within 24-48 hours.</p>
    <p>If your inquiry is urgent, please use the mobile number listed on our website to talk to a customer service representative immediately. We are committed to providing you with the best possible service.</p>
    <p>Here’s a summary of your inquiry for your records:</p>
    <p><strong>Subject:</strong> {{ subject }}</p>
    <p><strong>Message:</strong><br>{{ message }}</p>
    <p>Thank you for your patience and understanding.</p>
    <p>Best regards,<br>
    <a href="https://mycollegepedia.com/" target="_blank">Admission Bazaar</a> Team<br>
    <span style="font-size:12px;color:#666;">DREAM • DISCOVER • SUCCEED</span></p>
</body>
</html>
